---
---
<div class="relative bg-white dark:bg-dark pt-[120px] pb-[110px] lg:pt-[150px]" >
   <div class="container mx-auto lg:max-w-7xl px-2 lg:px-8">
      <div class="flex flex-wrap items-center -mx-4">
         <div class="w-full px-4 lg:w-5/12">
            <div class="hero-content">
               <h1 class="mb-5 text-4xl font-bold !leading-[1.208] text-dark dark:text-violet-700 sm:text-[42px] lg:text-[40px] xl:text-5xl" >Su nuevo CMS para creación de tiendas online</h1>
               <p class="mb-8 max-w-[480px] text-base text-body-color dark:text-dark-6" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem recusandae rerum voluptatem veritatis voluptatibus voluptates aut molestias atque sequi quas rem officia maiores blanditiis odit est dignissimos officiis, corrupti possimus.</p>
               <ul class="flex flex-wrap items-center">
                  <li>
                     <a href="/about" class="inline-flex items-center justify-center px-6 py-3 text-base font-medium text-center text-white bg-gray-700 rounded-md bg-primary hover:bg-violet-700 lg:px-7" > Ver productos </a>
                  </li>
               </ul>
               <div class="clients pt-16">
                  <h6 class="flex items-center mb-6 text-xs font-normal text-body-color dark:text-dark-6" >
                     Alguno de nuestros clientes
                     <span class="inline-block w-8 h-px ml-3 bg-body-color"></span>
                  </h6>
                  <div class="flex items-center gap-4 xl:gap-[50px]">
                     <a href="javascript:void(0)" class="block py-3">
                     <img src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/ayroui.svg" alt="oracle" />
                     </a>
                     <a href="javascript:void(0)" class="block py-3">
                     <img src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/graygrids.svg" alt="intel" />
                     </a>
                     <a href="javascript:void(0)" class="block py-3">
                     <img src="https://cdn.tailgrids.com/2.0/image/assets/images/brands/uideck.svg" alt="logitech" />
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="hidden px-4 lg:block lg:w-1/12"></div>
         <div class="w-full px-4 lg:w-6/12">
            <div class="lg:ml-auto lg:text-right">
               <div class="relative z-10 inline-block pt-11 lg:pt-0">
                  <img src="https://cdn.tailgrids.com/2.0/image/marketing/images/hero/hero-image-01.png" alt="hero" class="max-w-full lg:ml-auto" />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>